# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# LANpad Specific
LANpadStarter.app/
starter_log.txt
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
build/
dist/
#*.spec

# Built Apps & Images (to prevent huge git commits)
*.dmg
*.zip
LANpad.app/
tmp.dmg
